/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.imageContainer {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0;
  height: 20px;
}
