.testimonialSection {
  composes: contents from "../../css/common.module.css";

  /*background-color: var(--ifm-hero-background-color);*/
}

.testimonialContainer {
  display: flex;
  align-items: top;
}

[data-theme="dark"] .testimonials {
  background-color: var(--ifm-color-primary-darkest);
}

.row {
  composes: row from "@site/src/css/common.module.css";
}

.testimonial {
  composes: content from "@site/src/css/common.module.css";
  max-width: 32rem;
  border: 1px solid var(--ifm-color-primary-darkest);
  border-radius: 1rem;
  box-shadow: 5px 5px 0px var(--ifm-color-primary-darkest);
  display: flex;
  flex-direction: row;
  margin: 2rem;
  padding-top: 1rem;
  padding-right: 1rem;
}

.creditAvatar {
  padding: 1rem;
}

.creditAvatar img {
  display: block;
  overflow: hidden;
  /*width: var(--ifm-avatar-photo-size);*/
  width: 100px;
}

.creditAuthorDetails {
  display: flex;
}

.blocktext {
  color: var(--ifm-color-primary-darkest);
  font-size: 7rem;
  font-weight: bold;
  max-width: 36rem;
  text-align: center;
  font-family: "Fredericka the Great", sans-serif;
}
