/.git
/.yarn/*
/dist
/tsconfig.tsbuildinfo
/npm-debug.log*

!/.yarn/releases
!/.yarn/releases/*
!/.yarn/plugins
!/.yarn/plugins/*
!/.yarn/patches
!/.yarn/patches/*
/yarn-debug.log*
/yarn-error.log*

/.vscode
/node_modules/
/tasks/
/rewired/
_LOCAL/
/graphile-pro-worker
