# Dependencies
node_modules/

# yarn2+ stuff
.yarn/*
!.yarn/releases
!.yarn/releases/*
!.yarn/plugins
!.yarn/plugins/*
!.yarn/patches
!.yarn/patches/*

# Misc
/.git
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
/tasks/
/rewired/
_LOCAL/
/graphile-pro-worker
