version: "3.4"

services:
  db:
    image: postgres:11.5-alpine
    tmpfs: /var/lib/postgresql/data
    ports:
      - "${PORT_DB-5432}:5432"
    environment:
      POSTGRES_DB: graphile_worker_test
    container_name: graphile_worker_db

  app:
    build:
      context: .
    volumes:
      - ./__tests__:/app/__tests__
      - ./sql:/app/sql
      - ./src:/app/src
      - ./perfTest:/app/perfTest
    environment:
      TEST_CONNECTION_STRING: postgres://postgres@db:5432/graphile_worker_test
    container_name: graphile_worker_app
