/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ef6801;
  --ifm-color-primary-dark: #5fb44a;
  --ifm-color-primary-darker: #3a7d2d;
  --ifm-color-primary-darkest: #175911;
  --ifm-color-primary-light: #beffa5;
  --ifm-color-primary-lighter: #d5ffcb;
  --ifm-color-primary-lightest: #efffed;
  /*--ifm-code-font-size: 95%;*/
  --docusaurus-highlighted-code-line-bg: rgba(200, 230, 255, 0.3);
  --ifm-font-family-base: Sarabun, Helvetica, Verdana, Arial, sans-serif;
  --ifm-footer-background-color: transparent;
  --ifm-footer-link-color: var(--ifm-color-primary-dark);
  --ifm-footer-color: var(--ifm-color-primary-darkest);
  --ifm-link-color: #ff7800;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #ff7800;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #105b4b;
  /*--ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;*/
  --ifm-color-primary-light: #beffa5;
  --ifm-color-primary-lighter: #d5ffcb;
  --ifm-color-primary-lightest: #efffed;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

figure {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

figure p {
  margin: 0;
}

figcaption {
  font-size: 0.9em;
  font-style: italic;
  text-align: center;
}
