.secondarySection {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: var(--ifm-color-primary-lightest);
  color: var(--ifm-color-primary-darkest);
}

[data-theme="dark"] .secondarySection {
  background-color: var(--ifm-color-primary-darkest);
  color: var(--ifm-color-primary-lightest);
}

.secondaryRow {
  align-items: center;
}

.header {
  composes: header from "@site/src/css/common.module.css";
}

.tagline {
  composes: tagline from "@site/src/css/common.module.css";
}

.button {
  composes: heroButton from "@site/src/css/common.module.css";
  text-transform: uppercase;
  border: 1px solid var(--ifm-color-primary);
  color: var(--ifm-color-primary);
}

svg {
  max-width: 100%;
}
