.tertiarySection {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--ifm-color-primary-darkest);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

[data-theme="dark"] .tertiarySection {
  color: var(--ifm-color-primary-lightest);
}

.tertiaryRow {
  align-items: center;
}

.header {
  composes: header from "@site/src/css/common.module.css";
}

.tagline {
  composes: tagline from "@site/src/css/common.module.css";
}

.button {
  composes: heroButton from "@site/src/css/common.module.css";
  text-transform: uppercase;
  border: 1px solid var(--ifm-color-primary);
  color: var(--ifm-color-primary);
}

.tertiarySvg {
  max-width: 100%;
  height: auto;
}
